<h1>Making a request for <%= @service_provider.label %></h1>

<% form_tag "/api_request/make_request" do%>
  <%= hidden_field_tag :service_provider_id, @service_provider.id %>
  <table>
    <tr valign="top">
      <th>Access Token</th>
      <td>
        <%= select_tag :access_token_id, access_tokens_for_select %>
        <p>Make two-legged requests by selecting "two-legged request."</p>
      </td>
    </tr>
    <tr valign="top">
      <th>HTTP Method</th>
      <td><%= select_tag :method, options_for_select([ :get, :post, :put, :delete, :head, :trace])%></td>
    </tr>
    <tr valign="top">
      <th>Resource URL</th>
      <td><%= text_field_tag :resource_url %><br/>A fully qualified URL. Example: <em>http://api.twitter.com/1/statuses/friends_timeline.json</em></td>
    </tr>
    <tr valign="top">
      <th>Request Body</th>
      <td><%= text_area_tag :request_body, nil, :rows => 10 %><br/>Leave blank, if none.</td>
    </tr>
    <tr valign="top">
      <th>Request Content-Type</th>
      <td><%= select_tag :request_content_type, request_content_types(:default => @service_provider.default_request_content_type) %></td>
    </tr>
    <tr valign="top">
      <th>Additional Request Headers</th>
      <td>
        <table>
          <% 1.upto(4) do | i | -%>
            <tr>
              <td><%= text_field_tag "header_key_#{i}" %><br/>Key</td>
              <td><%= text_field_tag "header_value_#{i}" %><br/>Value</td>
            </tr>
          <% end -%>
        </table>
      </td>
    </tr>
    <tr valign="top">
      <th>Overrides</th>
      <td>
        <table>
          <tr>
            <th>oauth_timestamp</th>
            <td><%= text_field_tag "oauth_timestamp", Time.now.to_i.to_s %></td>
          </tr>
          <tr>
            <th>oauth_nonce</th>
            <td><%= text_field_tag "oauth_nonce" %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <%= submit_tag "Make the request!" %>
<% end %>