<h1>Request Disposition</h1>
<h3>Your Request</h3>
<strong>Access Token</strong>
&nbsp;&nbsp;<div class="api_result"><%= @api_request.access_token.to_s %></div>

<strong>Full Request URI</strong>
<div class="api_result"><%= @api_request.resource_url %></div>

<strong>HTTP Method</strong>
<div class="api_result"><%= @api_request.method.to_s %></div>
  
<strong>Request Body</strong>
<div class="api_result"><%= @api_request.postdata(true) %></div>

<strong>Content-Type</strong>
<div class="api_result"><%= @api_request.headers['Content-Type']%></div>

<strong>Headers</strong>
<div class="api_result"><%= @api_request.headers.collect{|h,v| "#{h}: #{v}<br/>"}%></div>

<h3>The OAuth Dance</h3>

<strong>Signature Base String</strong>
<div class="api_result"><%= @api_request.signature_base_string %></div>

<strong>Signature</strong>
<div class="api_result"><%= @api_request.signature %></div>

<strong>Signing Secret</strong>
<div class="api_result"><%= @api_request.signing_secret %></div>

<strong>Authorization Header</strong>
<div class="api_result"><%= @api_request.authorization_header %></div>

<h3>The Response</h3>

<strong>Response Code</strong>
<div class="api_result"><%= @api_request.response_code %></div>

<strong>Response Message</strong>
<div class="api_result"><%= @api_request.response_message %></div>

<strong>Response Body</strong>
<div class="api_result"><%= CodeRay.scan(@api_request.response_body, @api_request.response_format).html(:line_numbers => :table)%></div>


<strong>Response Headers</strong>
<div class="api_result"><%= @api_request.response_headers.collect{|h,v| "#{h}: #{v}<br/>"}%></div>

</table>