<h1>Take a bow!</h1>
<p>You've completed the OAuth Dance for <%= @service_provider.label %>!</p>
<p>Your new access token:</p>
<table>
  <tr>
    <th>Token</th><td><%=@access_token.oauth_token%></td>
  </tr><tr>
    <th>Secret</th><td><%=@access_token.oauth_token_secret%></td>
  </tr>
</table>
<p><%= link_to "Use it in a request!", :controller => "api_request", :action => "index", :service_provider_id => @service_provider.id %></p>
<%= image_tag "time-of-your-life.jpg" %>