<h1>New access_token</h1>

<% form_for(@access_token) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :oauth_token %><br />
    <%= f.text_field :oauth_token %>
  </p>
  <p>
    <%= f.label :oauth_token_secret %><br />
    <%= f.text_field :oauth_token_secret %>
  </p>
  <p>
    <%= f.label :service_provider_id %><br />
    <%= f.text_field :service_provider_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', access_tokens_path %>