<h1>Editing <%= @service_provider.label %></h1>

<% form_for(@service_provider) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @service_provider %> |
<%= link_to 'Back', service_providers_path %>