<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>OAuth Dancer: <%= title %></title>
  <%= stylesheet_link_tag 'simple_beauty' %>
</head>
<body>

<div id="container">
  <div id="header"><h1>OAuth Dancer</h1></div>
  <div id="sub_header"><%= title %></div>
  <div id="main_content_top"><%= flash[:notice] %></div>
  <div id="main_content">
    <div class="content">
      <%= yield %>

    </div>
    <div class="menu">
      <div class="menu_title">Dance Moves</div>
      <ul>
        <li><%= link_to "Service Providers", { :controller => :service_providers, :action => :index }, :class => "menu_link" %></li>
        <li><%= link_to "Make Requests", { :controller => :api_requests, :action => :index }, :class => "menu_link" %></li>
      </ul>
      <!-- <div class="menu_title">Sub menu</div>
      <ul>
        <li><a href="http://www.pikanai.com" class="menu_link">Pikanai</a></li>
      </ul>
      <div class="menu_title">Friends</div>
      <ul>
        <li><a href="http://www.oswd.org" class="menu_link">OSWD</a></li>
        <li><a href="http://www.opendesigns.org" class="menu_link">Open Designs</a></li>
      </ul> -->
    </div>

    <div id="clear"></div>

    <div id="main_content_bottom">
    </div>
  </div>
  <div id="footer"><b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a></div>
</body>
</html>
