<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>OAuth Dancer: <%= title %></title>
  <%= stylesheet_link_tag 'simple_beauty', 'coderay' %>
</head>
<body>

<div id="container">
  <div id="header"><h1><%= link_to "OAuth Dancer", :controller => "home" %></h1></div>
  <div id="sub_header" style="display:none;"><%= title %></div>
  <div id="main_content_top"><%= flash[:notice] %></div>
  <div id="main_content">
    <div class="content">
      <%= yield %>

    </div>
    <div class="menu">
      <div class="menu_title">Dance Moves</div>
      <ul>
        <li><%= link_to "Service Providers", { :controller => :service_providers, :action => :index }, :class => "menu_link" %></li>
        <li><%= link_to "the OAuth Dance", { :controller => :the_dance, :action => :index }, :class => "menu_link" %></li>
        <li><%= link_to "Make Requests", { :controller => :api_request, :action => :index }, :class => "menu_link" %></li>
      </ul>
    </div>

    <div id="clear"></div>

    <div id="main_content_bottom">
    </div>
  </div>
  <div id="footer"><b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a></div>
  <% if @ghosts && !@ghosts.empty? %>
    <div id="ghost-trap">
      <table>
        <% @ghosts.each do | ghost | %>
          <tr>
            <% ghost.keys.each do | key | %>
              <td><%= key %></td>
              <td><%= ghost[key] %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</body>
</html>
