<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>OAuth Dancer: <%= title %></title>
  <%= stylesheet_link_tag 'application', 'coderay' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="container">
  <div id="header" style="height:60px;"><h1><%= link_to image_tag( "oauth-dancer.jpg", :height => "50px"),{:controller => "home"} %>&nbsp;&nbsp;<%= link_to "OAuth Dancer",
   {:controller => "home"} %></h1> 
  </div>
  <div style="font-size: 12px;position:absolute;top:20px;left:65px;">
   <%= link_to "Service Providers", { :controller => :service_providers, :action => :index }, :class => "menu_link" %> &nbsp;
   <%= link_to "the OAuth Dance", { :controller => :the_dance, :action => :index }, :class => "menu_link" %>&nbsp;
   <%= link_to "Make Requests", { :controller => :api_request, :action => :index }, :class => "menu_link" %></div>
   <div style="clear:both;">
  <div id="main_content_top"><%= flash[:notice] %></div>
  <div id="main_content">
    
    <div class="content" style="margin-top:10px;margin-bottom:50px;">
      <%= yield %>

    </div>
  </div>
  <div id="footer"></div>
  <% if GhostTrap.ghosts and !GhostTrap.ghosts.empty? %>
    <div id="ghost-trap" style="position:fixed;bottom:0px;padding-top:10px">
      <a href="#" title="Click to open/close the Ghost Trap" onclick="$('#ghost-table').slideToggle('fast')"><%= image_tag("ghost-trap.jpg", :alt => "Click to open/close the Ghost Trap", :width => "30px", :align => "left") %></a>
      <a href="#" style="text-decoration:none;color:red;" title="Click to open/close the Ghost Trap" onclick="$('#ghost-table').slideToggle('fast')"><strong style="padding-left:10px;">The Ghost Trap</a></strong> (<%= GhostTrap.ghosts.count %>) &mdash; This captures interesting information about requests you are making.
      <div style="clear:both;"></div>
      <div id="ghost-table" style="display:none;">
        <table style="margin-top:10px;">
          <% GhostTrap.ghosts.each do | ghost | %>
            <tr>
              <% ghost.keys.each do | key | %>
                <th><%= key %></th>
                <td width="10px;">:</td>
                <td style="margin-left:10px"><%=h ghost[key] %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</body>
</html>
